*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    background-color: #fbbab2;
    font-family: 'Roboto', sans-serif;
}
.dictionary{
    text-align: center;
    width: 100%; 
}
.container {
    padding-left: 10px;
}
h1{
    margin: 20px;
}
h2,p{
    text-align: left;
    margin-top: 20px;
}
audio{
    margin-top: 20px;
}
#word {
    height: 30px;
    width: 50%;
    font-size: 20px;
}
#btn1, #btn2 {
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 100px;
    border-radius: 20px;
    font-size: 15px;
    background-color: rgb(11, 93, 105);
    color: rgb(255, 255, 255);
}
.partofspeech_content{
    display: flex;
    flex-direction: row;
}
.synonyms_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.partofspeech,.synonyms{
    border-radius: 10px;
    background-color: brown;
}
p.partofspeech{
    margin: 10px;
    width: 100px;
    text-align: center;
    height: 25px;
    color: #e2e2e2;
}
p.synonyms{
    margin: 10px;
    width: 160px;
    text-align: center;
    height: 35px;
    color: #e2e2e2;
}
.buttons {
    margin-top: 20px;
}
